@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0e12;
  @apply text-white;
}

.illuminate {
  content: "";
  position: absolute;
  background-image: radial-gradient(
    50% 31.3% at 50% 50%,
    rgba(255, 255, 255, 0.15) 0%,
    #0d0e12,
    rgb(13, 14, 18) 100%
  );
  border-radius: 200px;
  bottom: 30px;
  filter: blur(50px);
  flex: none;
  height: 150px;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  z-index: 0;
}

.feature::before {
  display: none;
  content: "";
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, black, white, black);
  position: absolute;
  top: 0;
  left: calc(100%);
}

.card {
  color: #8a8f98;
  background: radial-gradient(
    80.6% 40.3% at 100% 36%,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

@media screen and (min-width: 1024px) {
  .feature::before {
    display: block;
  }
}
